{% extends "layout.html" %}

{% block title %}
    Draft
{% endblock %}

{% block main %}
    {% for card in cardids %}
        <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ card }}&type=card" alt="{{ card }}">
    {% endfor %}
    <form action="/draft" method="post">
        <div class="form-group">
            <select name=pick>
                <option disabled selected value="">Choose a Card</option>
                {% for i in range(0, length) %}
                    <option value="{{ cardids[i] }}">{{ cardnames[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Choose</button>
    </form>
{% endblock %}
