{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}
    <form action="/passwordupdate" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password-verify" placeholder="Verify Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Update Password</button>
    </form>
{% endblock %}
