{% extends "layout.html" %}

{% block title %}
    Set Selection
{% endblock %}

{% block main %}
    <form action="/draft" method="post">
        <div class="form-group">
            <select name=set>
                <option disabled selected value="">Set</option>
                <option value="Hour of Devastation">Hour of Devastation (Reccomended)</option>
                {% for symbol in cardsets %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Select Set</button>
    </form>
{% endblock %}
